# Other files
*.wav
*.mp4
*.avi
*.json
demo/
model_store/
wf_store/
logs/
model_weights/mono.pth
model_weights/mono_s3fd.pth
setup.txt
*.ipynb
send.py
scripts.txt



# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
